*{
    margin: 0;
    padding: 0;
}
#head{
    width: 100%;
    height: 90px;
    >.box{
        width:1130px;
        height: 98px;
        // background: red;
        margin: 0 auto;
    }
}
#beijing{
    width: 100%;
    height: 100%;
    position: relative;

    >.tu{
        position: absolute;
        left: 50%;
        margin-left: -1280px;
        
    }
}